{% import 'macros.html' as macro%}
{% extends 'base.html'%}

<p>No more FOMO</p>
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--contents  -->
{%block content%}
<br>
<!--health -->
<h3 style="text-align:center;" id="h">Health News</h3>
<ul>{{macro.displayNewsList(health)}}</ul>

<!--business  -->
<h3 style="text-align:center;" id="b">Business</h3>
<ul>
    {{macro.displayNewsList(business)}}
</ul>

<!--entertainment  -->
<h3 style="text-align:center;" id="e">Entertainment</h3>
<ul>
    {{macro.displayNewsList(entertainment)}}
</ul>

<!--sports  -->
<h3 style="text-align:center;" id="s">Sports</h3>
<ul>
    {{macro.displayNewsList(sports)}}
</ul>


<!-- technology -->
<h3 style="text-align:center;" id="t">Technology</h3>
<ul>
    {{macro.displayNewsList(technology)}}
</ul>

{%endblock%}