{% import 'macros.html' as macro%}
{% extends 'base.html'%}

<p>No more FOMO</p>
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--contents  -->
{%block content%}
<br>
<!--health -->
<h3 style="text-align:center; font-weight: bolder; font-size:20px;" id="h">Health</h3>
<ul>{{macro.displayNewsList(health)}}</ul>
<br>
<!--business  -->
<h3 style="text-align:center; font-weight: bolder; font-size:20px;" id="b">Business</h3>
<ul>
    {{macro.displayNewsList(business)}}
</ul>
<br>
<!--entertainment  -->
<h3 style="text-align:center; font-weight: bolder; font-size:20px;" id="e">Entertainment</h3>
<ul>
    {{macro.displayNewsList(entertainment)}}
</ul>
<br>
<!--sports  -->
<h3 style="text-align:center; font-weight: bolder; font-size:20px;" id="s">Sports</h3>
<ul>
    {{macro.displayNewsList(sports)}}
</ul>
<br>

<!-- technology -->
<h3 style="text-align:center; font-weight: bolder; font-size:20px;" id="t">Technology</h3>
<ul>
    {{macro.displayNewsList(technology)}}
</ul>

{%endblock%}